<launch>

  <!-- Launch static transform publishers -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="tf_baseLink_cameraPose" -->
        <!-- args="0 0 0 0 0 0 base_link odometry 1000"/> -->

  <!-- Launch static transform publishers -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="tf_odom_cameraOdom"
        args="0 0 0 0 0 0 odom world 1000"/> -->


  <!-- Bridge node -->
  <node name="px4_realsense_bridge_node" pkg="px4_realsense_bridge" type="px4_realsense_bridge_node" output="screen" >
  <remap from="odometry" to="/vins_estimator/odometry" />
  </node>

</launch>
